module github.com/external-secrets/external-secrets/providers/v1/{{.PackageName}}

go 1.23

// TODO: Add dependencies for your backend SDK/client libraries
// Example:
// require (
//     github.com/example/{{.PackageName}}-sdk v1.2.3
// )

replace github.com/external-secrets/external-secrets => ../../../
